body {
    background-image: url('resources/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px #2c3e50;
}


.star::before, .ant::before, .dna::before, .cluster::before, .ai::before, .tree::before {
    content: "";
    display: inline-block;
    width: 2vw;
    height: 2vw;
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;

}
.star{
    margin-left: 5%;
}

.star::before {
    background-image: url('resources/star.svg');
}


.ant::before {
    background-image: url('resources/ant.svg');
}

.dna::before {
    background-image: url('resources/dna.svg');
}

.cluster::before {
    background-image: url('resources/cluster.svg');
}

.ai::before {
    background-image: url('resources/ai.svg');
}

.tree::before {
    background-image: url('resources/tree.svg');

}

#centered-button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 2vw;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}
#project-info {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    font-size: 2vw;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    z-index: 1;
    backdrop-filter: blur(10px);
    display: none;

    padding-top: 20%;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.5;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#project-info ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -8%;
}
#centered-button:hover {
    color: #0366d6;
    border-color: #0366d6;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    display: none;
    z-index: 9999;
}
#menu button:not(.tree) {

    border-right: 2px solid white;

}
#menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 2;

}
#centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 3vw;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#menu button {
    background-color: transparent;
    display: block;
    margin-bottom: 10px;
    color: #fff;
    border: 0px;
    padding: 10vh 1vh;
    font-size: 2vw;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    cursor: pointer;
    z-index: 3;
    height: 5vh;
    width: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#menu button:hover {
    font-size: 2.5vw;

    border-color: #0366d6;
}
.algorithm_section {
    display: none;
}

.grid-cell {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
}

#fieldCanvas{
    background-color: cornsilk;
    color: #0366d6;

}
#startButton{
    background-color: #ea0707;
    color: #0366d6;
    position: absolute;
}